<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="~/css/dashboard.css?4" rel="stylesheet">
    <link href="~/css/chartStyles.css?1" rel="stylesheet" />
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.bootstrap5.min.js"></script>

    <script type="text/javascript" src="js/dashboard.js?44" charset="utf-8"></script>



    <title>TBill staking dashboard</title>
</head>

<body class="bg-dark text-light" style="padding-top: 60px;">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <div class="container-fluid">
                @*<a class="navbar-brand" href="#">Navbar w/ text</a>*@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="Index?wallet=@ViewData["Wallet"]">LP Stats</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="MyWallet?wallet=@ViewData["Wallet"]">My Wallet</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="NFT?wallet=@ViewData["Wallet"]">NFTs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="About?wallet=@ViewData["Wallet"]">About</a>
                        </li>
                    </ul>
                    <div class="navbar-text">
                        <div>
                            <img height="20" src="~/img/tbill.svg" />&nbsp;$<label id="tbillRateTop"></label>
                            &nbsp;&nbsp;
                            <img height="20" src="~/img/tfuel.svg" />&nbsp;$<label id="tfuelPriceTop"></label>
                            &nbsp;&nbsp;
                            <label id="tbillTfuelRatio"></label>
                            &nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="form-check form-switch navbar-text">
                        <span class="navbar-text">

                            <label class="form-check-label" for="lightSwitch">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
                                    <path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z" />
                                </svg>/<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
                                    <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z" />
                                </svg>
                            </label>
                            <input class="form-check-input" type="checkbox" id="lightSwitch" />

                        </span>
                    </div>
                </div>
            </div>
        </nav>
        <form id="walletForm">
            <div class="row">
                <div class="col ">

                </div>
                <div class="col-md-10 col-sm-12">

                    @RenderBody()
                    <div class="row">
                        &nbsp;
                    </div>

                </div>
                <div class="col">

                </div>

            </div>
        </form>
    </div>

    @*<div class="footer fixed-bottom bg-dark text-light">
            <div class="row">
                <div class="col ">
                </div>
                <div class="col-md-10 col-sm-12">
                    <p>Footer</p>
                </div>
                <div class="col">
                </div>
            </div>
        </div>*@
    <footer class="footer mt-auto py-1 bg-light">
        <div class="row">
            <div class="col ">
            </div>
            <div class="col-md-10 col-sm-12 container">
                <span class="text-muted">Donation (TFuel/TBill): 0x16b69791181819e352997014bf24bb528B81209c</span>
            </div>
            <div class="col">
            </div>
        </div>
        @*<div class="container">

            </div>*@
    </footer>
    @* this script needs to be at the end to make sure all componenets are toggled *@

    <script type="text/javascript" src="js/switch.js?2"></script>

    @if (@ViewData["DisplayDevMessage"]?.ToString() == "true")
    {
        <div class="modal fade" id="warningModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog text-white">
                <div class="modal-content">
                    <div class="modal-header bg-warning text-black">
                        <h5 class="modal-title" id="warningModalLabel">Please note...</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-warning text-black">
                        This is a development version. It might not be working at all times. Please consider bookmarking the stable version instead: <br />
                        <a href="https://tbillstats.io/">https://tbillstats.io/</a><br />

                    </div>
                    <div class="modal-footer bg-warning text-black">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/devMessage.js?1"></script>
    }

    @if (@ViewData["DisplayNewDomainMessage"]?.ToString() == "true")
    {
        <div class="modal fade" id="newDomainModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog text-white">
                <div class="modal-content">
                    <div class="modal-header bg-warning text-black">
                        <h5 class="modal-title" id="warningModalLabel">Please note...</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-warning text-black">
                        We have a new domain: <br />
                        <a href="https://tbillstats.io/">https://tbillstats.io/</a><br />

                    </div>
                    <div class="modal-footer bg-warning text-black">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="js/newDomain.js?1"></script>
    }




</body>

</html>