@page
@model TBillStakingDashboardWeb.Pages.AboutModel
@{
    Layout = "_Layout";
}
<div class="row">
    <h4>What is the dashboard?</h4>
    <p>
        TBill Staking Dashboard is a community project created by Matej (@@czmathew, head developer) and Maxime (@@TechSherpa, community manager and idea spitter).
        The main objective of this Dashboard is to have access to your TBILL data without having to connect your wallet.
    </p>

    <h4>How does it work?</h4>
    <p>
        It is important to note that none of your data is stored on our server. All data is pulled from different sources (TBILL and OpenTheta) and aggregated in the Dashboard.
        We are using APIs from these two websites so we are dependant on the accuracy and uptime of these sites.
        If they stop working, we will do our best to get everything back up as quickly as possible.
        It's clearer and way more user friendly to have everything in one place.
        <br />
        You can access the entire source code on <a href="https://github.com/czmathew/TBillStakingDashboard">GitHub</a> to ensure your peace of mind.
        <br />
        Thank you,
        <br />
        Mat and Max!
    </p>

    <h4>Change Notes</h4>
    <p>Please see: <a href="https://github.com/czmathew/TBillStakingDashboard#changes-notes">https://github.com/czmathew/TBillStakingDashboard#changes-notes</a> </p>

    <h4>Contact</h4>
    <p>
        You can contact us either on Telegram or Discord.
        <br />
        Matej: <a href="https://t.me/czmathew">https://t.me/czmathew</a> or czmathew#5832 on Discord
        <br />
        Maxime: <a href="https://t.me/TechSherpa">https://t.me/TechSherpa</a> or Maxime🦙#7056 on Discord
        <br />
    </p>

    <h4>Donation</h4>
    <p>
        If you found this ressource useful and want to support our work, you can donate:
        <br />
        TFuel/TBill tokens at: 0x16b69791181819e352997014bf24bb528B81209c
        <br />
        <img src="~/img/qr_donation.jpg" width="200" />
    </p>
</div>