@page
@model TBillStakingDashboardWeb.Pages.BullitModel
@{
    Layout = "_Layout";
}


@section scripts {
    <script type="text/javascript" src="js/pageBullit.js?1" charset="utf-8"></script>
}

<script>
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"><\/script>'
        )
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/eligrey-classlist-js-polyfill@1.2.20171210/classList.min.js"><\/script>'
        )
    window.Promise ||
        document.write(
            '<script src="https://cdn.jsdelivr.net/npm/findindex_polyfill_mdn"><\/script>'
        )
</script>


<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>



<div class="row">
    <h4>BULT price</h4>
    <style>

        #chartBultPrice {
            max-width: 650px;
            margin: 5px auto;
        }
    </style>
    <div class=col-lg-6 col-sm-12">
        <div class="row">
            <div class="col-lg-6 col-sm-6 col-6">
                <p>
                    <strong>BULT / TFuel</strong>
                    <br />
                    <label id="dayTotal" class="form-label">@Model.CurrentBULT_TFuel</label>
                </p>
            </div>
            <div class="col-lg-6 col-sm-6 col-6">
                <p>
                    <strong>BULT / TFuel</strong>
                    <br />
                    <label id="dayTotal" class="form-label">@Model.CurrentTFuel_BULT</label>
                </p>
            </div>
        </div><div class="row">
            <div class="col-lg-6 col-sm-6 col-6">
                <p>
                    <strong>BULT reserve</strong>
                    <br />
                    <label id="dayTotal" class="form-label">@Model.BULT_reserve</label>
                </p>
            </div>
            <div class="col-lg-6 col-sm-6 col-6">
                <p>
                    <strong>TFuel reserve</strong>
                    <br />
                    <label id="dayTotal" class="form-label">@Model.Tfuel_reserve</label>
                </p>
            </div>
        </div>
    </div>
    <div class=col-lg-6 col-sm-12">
        <div id="chartBultPrice" class="bg-dark" style="border:0px;"></div>
    </div>


</div>